body {
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/25/23/36/national-harbor.jpg?w=1000&h=600&s=1");
    background-repeat: no-repeat;
    background-size: auto;
  }