.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 15px
}

.header h2 {
    display: inline-block;
    font-weight: bold;

}
.menubar{
    display: inline-block;

}

.menubar li {
    list-style-type: none;
    display: inline-flex;
}